@import "globals";

.home {
  &__text {
    color: $color-grey;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
  }

  &__carousel-wrapper {
    margin-top: 40px;
    margin-bottom: 60px;
    width: 100%;
    height: 200px;
    background-color: rgba($color: #000000, $alpha: .6);
    overflow: hidden;
    display: flex;

    @keyframes go-to-left {
      from {
        transform: translateX(0);
      }
      to {
        transform: translateX(calc(-320px*6));
      }
    }

    @keyframes go-to-right {
      from {
        transform: translateX(calc(-320px*6));
      }
      to {
        transform: translateX(0);
      }
    }

    &__carousel {
      display: flex;
      align-items: center;
      width: calc(-320px * 12);
      height: 100%;
      margin-left: 10px;

      &__image {
        height: 180px;
        width: 300px;
        border-radius: 20px;
        margin: 0 10px;
      }

      &--animate-left {
        animation: go-to-right 20s linear infinite;
      }

      &--animate-right {
        animation: go-to-right 20s linear infinite;
      }
    }
  }

  &__start-btn {
    text-align: center;
  }

  &__saved-mobile {
    text-align: center;
    margin-top: 70px;

    &__text {
      font-size: 20px;
      color: $color-grey;
      margin-bottom: 20px;
    }
  }
}
