@import "globals";
@import "header";
@import "footer";
@import "home";
@import "search";
@import "favorites";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quantico', sans-serif;
}

body {
  background-color: $secondary-color;
}

.returnToTop {
  position: fixed;
  bottom: 20px;
  z-index: 8;
  right: 20px;
  background-color: white;
  padding: 10px 12px;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;

  &--hidden {
    display: none;
  }
}