.default-btn {
  background-color: #202355 !important;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.8) !important;
  border-radius: 4px !important;
  color: white !important;
  padding: 10px 20px !important;
  font-size: 16px !important;
  font-family: "Quantico", sans-serif !important;
}

.secondary-btn {
  background-color: white !important;
  border-radius: 30px !important;
  color: black !important;
  padding: 10px 20px !important;
  font-size: 16px !important;
  font-family: "Quantico", sans-serif !important;
}

.default-btn {
  background-color: #202355 !important;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.8) !important;
  border-radius: 4px !important;
  color: white !important;
  padding: 10px 20px !important;
  font-size: 16px !important;
  font-family: "Quantico", sans-serif !important;
}

.secondary-btn {
  background-color: white !important;
  border-radius: 30px !important;
  color: black !important;
  padding: 10px 20px !important;
  font-size: 16px !important;
  font-family: "Quantico", sans-serif !important;
}

.header {
  width: 100%;
  padding: 10px 30px;
  background-color: #202355;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.header__title {
  font-size: 36px;
}
.header__title a {
  text-decoration: none;
  color: white;
}
.header__btn {
  display: none;
  position: absolute;
  right: 30px;
}

@media only screen and (min-width: 1000px) {
  .header__btn {
    display: block;
  }
}
.default-btn {
  background-color: #202355 !important;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.8) !important;
  border-radius: 4px !important;
  color: white !important;
  padding: 10px 20px !important;
  font-size: 16px !important;
  font-family: "Quantico", sans-serif !important;
}

.secondary-btn {
  background-color: white !important;
  border-radius: 30px !important;
  color: black !important;
  padding: 10px 20px !important;
  font-size: 16px !important;
  font-family: "Quantico", sans-serif !important;
}

.footer {
  background-color: #202355;
  width: 100%;
  padding: 10px 0;
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
  position: absolute;
  bottom: 0;
}
.footer__text {
  color: white;
}

.default-btn {
  background-color: #202355 !important;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.8) !important;
  border-radius: 4px !important;
  color: white !important;
  padding: 10px 20px !important;
  font-size: 16px !important;
  font-family: "Quantico", sans-serif !important;
}

.secondary-btn {
  background-color: white !important;
  border-radius: 30px !important;
  color: black !important;
  padding: 10px 20px !important;
  font-size: 16px !important;
  font-family: "Quantico", sans-serif !important;
}

.home__text-mobile {
  text-align: center;
  margin-top: 50px;
}
.home__text-mobile__text {
  color: #aaa;
  font-weight: bold;
  font-size: 18px;
  margin-top: 20px;
}
.home__carousel-wrapper {
  margin-top: 40px;
  margin-bottom: 60px;
  width: 100%;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  display: flex;
}
@keyframes go-to-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-1920px);
  }
}
@keyframes go-to-right {
  from {
    transform: translateX(-1920px);
  }
  to {
    transform: translateX(0);
  }
}
.home__carousel-wrapper__carousel {
  display: flex;
  align-items: center;
  width: 3840px;
  height: 100%;
  margin-left: 10px;
}
.home__carousel-wrapper__carousel__image {
  height: 180px;
  width: 300px;
  border-radius: 20px;
  margin: 0 10px;
}
.home__carousel-wrapper__carousel--animate-left {
  animation: go-to-left 20s linear infinite;
}
.home__carousel-wrapper__carousel--animate-right {
  animation: go-to-right 20s linear infinite;
}
.home__carousel-wrapper--hidden {
  display: none;
}
.home__start-btn {
  text-align: center;
}
.home__text-desktop {
  display: none;
}
.home__saved-mobile {
  text-align: center;
  margin-top: 70px;
}
.home__saved-mobile__text {
  font-size: 20px;
  color: #aaa;
  margin-bottom: 20px;
}

@media only screen and (min-width: 1000px) {
  .home {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 200px);
    justify-content: space-around;
    align-items: center;
  }
  .home__text-mobile {
    display: none;
  }
  .home__text-desktop {
    display: block;
    color: #aaa;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    width: 400px;
  }
  .home__saved-mobile {
    display: none;
  }
  .home__carousel-wrapper--hidden {
    display: block;
  }
  .home__start-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 100px;
    margin-bottom: 30px;
  }
}
.default-btn {
  background-color: #202355 !important;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.8) !important;
  border-radius: 4px !important;
  color: white !important;
  padding: 10px 20px !important;
  font-size: 16px !important;
  font-family: "Quantico", sans-serif !important;
}

.secondary-btn {
  background-color: white !important;
  border-radius: 30px !important;
  color: black !important;
  padding: 10px 20px !important;
  font-size: 16px !important;
  font-family: "Quantico", sans-serif !important;
}

.search {
  text-align: center;
}
.search__form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
}
.search__form__input {
  height: 100%;
  outline: none;
  border: none;
  padding: 10px 20px;
  border-radius: 10px 0 0 10px;
  width: 100%;
}
.search__form__btn {
  height: 100%;
}
.search__text {
  color: #aaa;
  font-size: 16px;
  margin-top: 10px;
}

@media only screen and (min-width: 1000px) {
  .search__btn-mobile {
    display: none;
  }
  .search__form {
    margin-top: 60px;
    max-width: 1000px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quantico", sans-serif;
}

body {
  background-color: #252850;
}

/*# sourceMappingURL=styles.css.map */
