.default-btn {
  background-color: #202355 !important;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.8) !important;
  border-radius: 4px !important;
  color: white !important;
  padding: 10px 20px !important;
  font-size: 16px !important;
  font-family: "Quantico", sans-serif !important;
}

.secondary-btn {
  background-color: white !important;
  border-radius: 30px !important;
  color: black !important;
  padding: 10px 20px !important;
  font-size: 16px !important;
  font-family: "Quantico", sans-serif !important;
}

@media only screen and (max-width: 450px) {
  .small-hidden {
    display: none;
  }
}
.default-btn {
  background-color: #202355 !important;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.8) !important;
  border-radius: 4px !important;
  color: white !important;
  padding: 10px 20px !important;
  font-size: 16px !important;
  font-family: "Quantico", sans-serif !important;
}

.secondary-btn {
  background-color: white !important;
  border-radius: 30px !important;
  color: black !important;
  padding: 10px 20px !important;
  font-size: 16px !important;
  font-family: "Quantico", sans-serif !important;
}

@media only screen and (max-width: 450px) {
  .small-hidden {
    display: none;
  }
}
.header {
  width: 100%;
  padding: 10px 30px;
  background-color: #202355;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.header__title {
  font-size: 33px;
}
.header__title a {
  text-decoration: none;
  color: white;
}
.header__btn {
  display: none;
  position: absolute;
  right: 30px;
}

@media only screen and (min-width: 1000px) {
  .header__btn {
    display: block;
  }
}
.default-btn {
  background-color: #202355 !important;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.8) !important;
  border-radius: 4px !important;
  color: white !important;
  padding: 10px 20px !important;
  font-size: 16px !important;
  font-family: "Quantico", sans-serif !important;
}

.secondary-btn {
  background-color: white !important;
  border-radius: 30px !important;
  color: black !important;
  padding: 10px 20px !important;
  font-size: 16px !important;
  font-family: "Quantico", sans-serif !important;
}

@media only screen and (max-width: 450px) {
  .small-hidden {
    display: none;
  }
}
.footer {
  background-color: #202355;
  width: 100%;
  padding: 10px 0;
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
}
.footer__text {
  color: white;
}

.default-btn {
  background-color: #202355 !important;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.8) !important;
  border-radius: 4px !important;
  color: white !important;
  padding: 10px 20px !important;
  font-size: 16px !important;
  font-family: "Quantico", sans-serif !important;
}

.secondary-btn {
  background-color: white !important;
  border-radius: 30px !important;
  color: black !important;
  padding: 10px 20px !important;
  font-size: 16px !important;
  font-family: "Quantico", sans-serif !important;
}

@media only screen and (max-width: 450px) {
  .small-hidden {
    display: none;
  }
}
.home {
  min-height: calc(100vh - 140px);
}
.home__text-mobile {
  text-align: center;
  margin-top: 50px;
}
.home__text-mobile__text {
  color: #aaa;
  font-weight: bold;
  font-size: 18px;
  margin-top: 20px;
}
.home__carousel-wrapper {
  margin-top: 40px;
  margin-bottom: 30px;
  width: 100%;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  display: flex;
}
@keyframes go-to-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-1920px);
  }
}
@keyframes go-to-right {
  from {
    transform: translateX(-1920px);
  }
  to {
    transform: translateX(0);
  }
}
.home__carousel-wrapper__carousel {
  display: flex;
  align-items: center;
  width: 3840px;
  height: 100%;
  margin-left: 10px;
}
.home__carousel-wrapper__carousel__image {
  height: 180px;
  width: 300px;
  border-radius: 20px;
  margin: 0 10px;
}
.home__carousel-wrapper__carousel--animate-left {
  animation: go-to-left 20s linear infinite;
}
.home__carousel-wrapper__carousel--animate-right {
  animation: go-to-right 20s linear infinite;
}
.home__carousel-wrapper--hidden {
  display: none;
}
.home__start-btn {
  text-align: center;
}
.home__text-desktop {
  display: none;
}
.home__saved-mobile {
  text-align: center;
  margin-top: 40px;
}
.home__saved-mobile__text {
  font-size: 20px;
  color: #aaa;
  margin-bottom: 20px;
}

@media only screen and (min-width: 1000px) {
  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .home__text-mobile {
    display: none;
  }
  .home__text-desktop {
    display: block;
    color: #aaa;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    width: 400px;
  }
  .home__saved-mobile {
    display: none;
  }
  .home__carousel-wrapper {
    margin-bottom: 60px;
  }
  .home__carousel-wrapper--hidden {
    display: block;
  }
  .home__start-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 60px 100px;
  }
}
.default-btn {
  background-color: #202355 !important;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.8) !important;
  border-radius: 4px !important;
  color: white !important;
  padding: 10px 20px !important;
  font-size: 16px !important;
  font-family: "Quantico", sans-serif !important;
}

.secondary-btn {
  background-color: white !important;
  border-radius: 30px !important;
  color: black !important;
  padding: 10px 20px !important;
  font-size: 16px !important;
  font-family: "Quantico", sans-serif !important;
}

@media only screen and (max-width: 450px) {
  .small-hidden {
    display: none;
  }
}
.search {
  text-align: center;
  position: relative;
  min-height: calc(100vh - 160px);
}
.search__form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
}
.search__form__input {
  height: 100%;
  outline: none;
  border: none;
  padding: 10px 20px;
  border-radius: 10px 0 0 10px;
  width: 100%;
  font-size: 16px;
}
.search__form__btn {
  height: 100%;
}
.search__text {
  color: #aaa;
  font-size: 16px;
  margin-top: 10px;
}
.search__loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  box-shadow: 48px 0 0 0 rgba(255, 255, 255, 0.3), 36px 36px 0 0 rgba(255, 255, 255, 0.3), 0px 48px 0 0 rgba(255, 255, 255, 0.3), -36px 36px 0 0 rgba(255, 255, 255, 0.3), -48px 0 0 0 rgba(255, 255, 255, 0.3), -36px -36px 0 0 rgba(255, 255, 255, 0.3), 0px -48px 0 0 rgba(255, 255, 255, 0.3), 36px -36px 0 0 rgba(255, 255, 255, 0.3);
  animation: rotate 1.5s infinite linear;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.search__photos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  padding-bottom: 100px;
}
.search__photos__image-wrapper {
  position: relative;
}
.search__photos__image {
  margin-top: 20px;
  border-radius: 20px;
  width: 100%;
}
.search__photos__heart {
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  background-color: transparent;
  height: fit-content;
  border: none;
}
.search__photos__heart--liked {
  fill: red;
}
.search__pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.search__pagination__btn {
  margin: 0 10px;
}

@media only screen and (min-width: 1000px) {
  .search__btn-mobile {
    display: none;
  }
  .search__form {
    margin-top: 50px;
    max-width: 1000px;
  }
  .search__photos {
    display: block;
    margin: 0 40px;
    margin-top: 50px;
    column-count: 3;
  }
  .search__photos__image-wrapper {
    margin-bottom: 20px;
  }
  .search__photos__image {
    display: block;
    border-radius: 20px;
    width: 100%;
    height: auto;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
    margin-top: 0;
  }
}
.default-btn {
  background-color: #202355 !important;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.8) !important;
  border-radius: 4px !important;
  color: white !important;
  padding: 10px 20px !important;
  font-size: 16px !important;
  font-family: "Quantico", sans-serif !important;
}

.secondary-btn {
  background-color: white !important;
  border-radius: 30px !important;
  color: black !important;
  padding: 10px 20px !important;
  font-size: 16px !important;
  font-family: "Quantico", sans-serif !important;
}

@media only screen and (max-width: 450px) {
  .small-hidden {
    display: none;
  }
}
.favorites {
  text-align: center;
  position: relative;
  min-height: calc(100vh - 170px);
}
.favorites__flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.favorites__filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 50px;
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  height: 100%;
}
.favorites__filter__input {
  height: 100%;
  outline: none;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  width: 100%;
  font-size: 16px;
}
.favorites__filter__order {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.favorites__filter__order__text {
  color: #aaa;
  font-size: 18px;
  margin-right: 10px;
}
.favorites__filter__order button {
  margin: 5px;
}
.favorites__text {
  color: #aaa;
  font-size: 16px;
}
.favorites__photos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  padding-bottom: 100px;
  margin-top: 20px;
}
.favorites__photos__image-wrapper {
  position: relative;
}
.favorites__photos__image {
  border-radius: 20px;
  margin-top: 20px;
  width: 100%;
}
.favorites__photos__trash {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: #252850;
  border-radius: 50%;
  padding: 10px 12px;
  border: none;
  cursor: pointer;
}
.favorites__photos__download {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #252850;
  border-radius: 50%;
  padding: 10px 12px;
  border: none;
  cursor: pointer;
}
.favorites__photos__edit {
  position: absolute;
  bottom: 70px;
  right: 10px;
  background-color: #252850;
  border-radius: 50%;
  padding: 10px 12px;
  border: none;
  cursor: pointer;
}
.favorites__no-photos {
  text-align: center;
}
.favorites__no-photos__title {
  font-size: 36px;
  color: white;
  text-transform: uppercase;
}
.favorites__no-photos__text {
  text-transform: uppercase;
  margin-top: 20px;
  color: #aaa;
}
.favorites__modal-wrapper {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  z-index: 5;
}
.favorites__modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  background-color: #2E3264;
  width: 80%;
  border-radius: 20px;
  z-index: 10;
  padding: 40px;
}
.favorites__modal__title {
  font-size: 36px;
  color: white;
  margin-bottom: 10px;
}
.favorites__modal__edit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.favorites__modal__edit__input {
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
  outline: none;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 15px;
}
.favorites__modal__props {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
.favorites__modal__props__text {
  font-size: 18px;
  color: #aaa;
  margin-bottom: 10px;
}
.favorites__modal__cross {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media only screen and (min-width: 1000px) {
  .favorites__btn-mobile {
    display: none;
  }
  .favorites__photos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 40px;
    margin-top: 30px;
  }
  .favorites__photos__image-wrapper {
    width: 30%;
    margin: 20px 20px;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    height: 500px;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
  }
  .favorites__photos__image {
    display: inline-block;
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 100%;
    margin-top: 0;
  }
  .favorites__filter {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
  }
  .favorites__filter__input {
    margin: 0;
  }
  .favorites__filter__order {
    margin: 0;
    margin-left: 5vw;
    flex-wrap: nowrap;
  }
  .favorites__modal {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    width: 50%;
    padding: 50px 20px;
  }
  .favorites__modal__props {
    margin-top: 0;
  }
  .favorites__modal__cross {
    top: 20px;
    right: 20px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quantico", sans-serif;
}

body {
  background-color: #252850;
}

/*# sourceMappingURL=styles.css.map */
